[data-tips] {
	position: relative;
	display: inline-block;
}
[data-tips]:before, [data-tips]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: 100000;
	pointer-events: none;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
[data-tips]:hover:before, [data-tips]:hover:after {
	visibility: visible;
	opacity: 1;
}
[data-tips]:before {
	content: '';
	z-index: 100001;
	background: transparent;
	border: 6px solid transparent;
}
[data-tips]:after {
	content: attr(data-tips);
	background: #383838;
	color: #fff;
	padding: 8px 10px;
	font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.3);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/*tooltips right*/
.tips-right:before, .tips-right:after {
	left: 100%;
	bottom: 50%;
}
.tips-right:before {
	border-right-color: #383838;
	margin-left: -12px;
	margin-bottom: -6px;
}
.tips-right:after {
	margin-bottom: -14px;
}
.tips-right:hover:before, .tips-right:hover:after {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
/*tooltips left*/
.tips-left:before, .tips-left:after {
	right: 100%;
	bottom: 50%;
}
.tips-left:before {
	border-left-color: #383838;
	margin-right: -12px;
	margin-bottom: -6px;
}
.tips-left:after {
	margin-bottom: -14px;
}
.tips-left:hover:before, .tips-left:hover:after {
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}
/*tooltips top*/
.tips-top:before, .tips-top:after {
	bottom: 100%;
	left: 50%;
}
.tips-top:before {
	border-top-color: #383838;
	margin-left: -6px;
	margin-bottom: -12px;
}
.tips-top:after {
	margin-left: -18px;
}
.tips-top:hover:before, .tips-top:hover:after {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}
/*tooltips bottom*/
.tips-bottom:before, .tips-bottom:after {
	top: 100%;
	left: 50%;
}
.tips-bottom:before {
	border-bottom-color: #383838;
	margin-left: -6px;
	margin-top: -12px;
}
.tips-bottom:after {
	margin-left: -18px;
}
.tips-bottom:hover:before, .tips-bottom:hover:after {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}